#portal-top-navigation li {
    width: 50%; 
}

#homepageimage {
    display: none !important;
}

#portal-column-one-visualPadding.visualPadding {
    line-height: 0;
}

#portal-breadcrumbs {
    display: none;
}

#portal-columns {
    display: block;
}

#portal-column-one {
    float: left;
    margin: 0;
    width: 96.610169491525424%;  /* (590-20)/590 */
    padding-left: 1.694915254237288%;  /* 10/590 */
    padding-right: 1.694915254237288%;  /* 10/590 */
    display: block;
    background-image: none;
    border: none;
    margin-top: 0.5em;
}

#portal-column-one .portletWrapper {
    margin: 0 0 1.25em 0;
}

#portal-column-one .portletNavigationHeader,
#navigation-mobile .portletNavigationHeader {
    margin: 0.25em 0 0.25em 0;
}

#portal-column-one .portletNavigationTree {
    margin: 0 0.25em;
}

.contentLeadImageContainer {
    float: none;
    display: block;
    max-width: 100%;
    text-align: left;
    width: 100%;
}

.contentLeadImageContainer img,
.contentLeadImageContainer p.discreet {
    margin-left: 0;
    padding-left: 0;
    width: auto;
}

#portal-footer {
    text-align: left;
}

#portal-footer p{
    padding: 0 1.5em;
}


#portal-footer .footerLinks a {
    display: block;
}

#portal-footer .footerLinks .footerSeparator {
    display: none;
}

#logo-site {
    margin-left: 100px;
}

#portlets-mobile .imagePortlet a {
    text-align: left;
}

#navigation-mobile #portal-top-navigation {
    font-size: 1.375em;
    border-bottom: 1px solid #cccccc;
}

#portal-top #navigation-mobile .portletWrapper {
    margin: 0;
    width: auto;
}

#portal-top #navigation-mobile {
    margin-left: 1.69492%;
    margin-right: 1.69492%;
    width: 96.6102%;
    clear: both;
    margin-top: 1.5em;
}

body.portaltype-homepage #portal-column-one {
    margin-top: 0;
}

.documentActions {
    display: none;
}

#portal-top>#portal-top-navigation {
    display: none;
}

#portal-column-one .portletWrapper:first-child .portletNavigationTree {
    display: none;
}

