div.portletsBelowContentA,
div.portletsBelowContentB,
div.portletsBelowContentC,
div.portletsBelowContentD,
div.portletsBelowContentE,
div.portletsAboveContentA,
div.portletsAboveContentB,
div.portletsAboveContentC,
div.portletsAboveContentD,
div.portletsAboveContentE {
	width: 97.5%; /* (480 - 12)/480 */
	float: left;
	padding: 0.5em 1.25%;  /* 6/480 */
}


#logo-site {
    text-decoration: none;
    font-size: 1.125em;
    margin-left: 100px;
}

#portal-searchbox #SearchableText {
    font-size: 0.75em;
    width: 40%;
}


#portal-searchbox #searchSource {
    font-size: 0.75em;
    padding: 0.1875em 0.628930817610063%; /* 4/477 */
    width: 45%;
}

#portal-searchbox input.searchButton {
    width: 6%;
    font-size: 0.75em;
}

#content .tileItemLeadImage .contentLeadImageContainer {
    width: 35%;
}

#content .tileSummaryLeadImage .contentLeadImageContainer img {
    max-width: 37%;
    margin-left: 1%;
}

#content .tileFooter {
    display: none;
}

#content .tileItemLeadImage .tileTitle, #content .tileItemLeadImage .documentByLine, #content .tileItemLeadImage .tileDescription, #content .tileItemLeadImage .facultyStaffDirectory, #content .tileItemLeadImage .tileHeadline {
    margin-left: 37.5%;
}

#localSearchBox {
    width: 85.865168539325843%;
}

#portal-localsearchbox .searchButton {
    width: 9.865168539325843%;
}

#centercolumn .portletStaticText .portletItem img {
    display: block;
    float: none;
    clear: both;
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


/* Logo */

#portal-top #navigation-mobile {
    margin-top: 0.5em;
}

#portal-header {
    min-height: 45px;
}

#logo-psu, #logo-psu.subsite {
    top: 10px;
    left: 5px;
    width: 85px;
}

#logo-site {
    font-size: 1em;
    margin-left: 92px;
    margin-top: 28px;
}

#logo-site.extension {
    width: 180px;
}

#content #centercolumn.agCommonPortlet .portletItem a.title {
    font-size: 1.125em;
}
    
form.event-registration-button input[type="submit"] {
    float: none;
    display: block;
    margin: 0.5em 0 1em 0;
}
