/* IE 6 Hacks */

/* http://www.positioniseverything.net/explorer/ie-listbug.html */

ul, ol, dl {
	position: relative;
}

#visual-portal-wrapper {
	margin: 0px 20px;
}

#portal-column-content {
	margin-right: 0px;
}

body.template-document_homepage_view #homepageimage {
	overflow: hidden;
}

#portal-column-one-visualPadding {
	height: 0px; 
}

#topnavigation li a {
	font-size: .88em;
}

#topnavigation ul {
	padding: 0px;
}

#topnavigation {
	padding: 3px 0px;
}

body.section-front-page #rightcolumn {
	margin-right: 2px;
	margin-left: 0px;
}

body.section-front-page #centercolumn {
	border: 0px;
	margin-right: 160px;
}

.newsImageContainer {
	width: 202px;
	text-align: center;
} 

#topnavigation li {
    border-width: 0px 0px 0px 2px;
}

#logo-site {  
    left: 185px;
}


img.image-full {
	width: auto;
}

/* Hide #portlets-below */

#portlets-below {
	display: none;
}


/* Slideshow Widths */

.pgv_sg_carouseltimed_view #myGallery,
.pgv_sg_carousel_view #myGallery{
	width: 585px; 
}
.pgv_sg_carouseltimed_view #myCarousel,
.pgv_sg_carousel_view #myCarousel{
	width: 587px; 
	padding: 0;
}

/* Link icons */
#portal-column-one .linkIcon ul {
	margin-left: 10px;
	margin-right: 0px;
}

/* Column two unordered lists */

#portal-column-two .portletItem ul,
#portal-column-two .portletItem p {
    margin-top: 30px;
}

#portlets-above dl.portlet .portletHeader {
    padding-top:55px;
}