/* IE 6 Hacks */

/* http://www.positioniseverything.net/explorer/ie-listbug.html */

ul, ol, dl {
	position: relative;
}

#visual-portal-wrapper {
	width: 795px;
}

#portal-column-one-visualPadding {
	height: 0px; 
}


#adminlinks li a {
	font-size: .88em;
}

#adminlinks ul {
	padding: 0px;
}

#adminlinks {
	padding: 3px 0px;
}

body.section-front-page #rightcolumn {
	margin-right: -5px;
	margin-left: 0px;
}

body.section-front-page #centercolumn {
	border: 0px;
	margin-right: 175px;
}

.newsImageContainer {
	width: 202px;
	text-align: center;
} 

#adminlinks li {
    border-width: 0px 0px 0px 2px;
}

#logo-site {  
    left: 185px;
}

